{
    "applications": {
        "": {
            "applicationId": "", 
            "masterKey": ""
        }, 
        "_default": {
            "link": ""
        }
    }, 
    "global": {
        "parseVersion": ""
    }
}
